.answer--original {
    background-color:beige
}

.answer--selected {
    background-color: yellow;
}

.answer--correct {
    background-color: green;
}

.answer--incorrect {
    background-color: red;
}

.button--check {
    background-color: coral;
}

.button--disabled {
    cursor: not-allowed;
}